.navbar .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

.hr-light {
    border: none;
    border-top: 2px solid #ddd;
}
